@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components  {

  .button-primary {
    @apply relative w-full max-w-sm h-14 font-medium text-white bg-blue-600 opacity-30 hover:opacity-100 hover:bg-blue-400 rounded-[4px]
  }
  .common-input {
    @apply appearance-none rounded-[4px] block w-full px-3 py-3 border bg-gray-50 placeholder-gray-500 focus:outline-none focus:ring-blue-600 focus:border-blue-600 focus:z-10 
  }
  .invalid-feedback{
    @apply text-red-400
  }
  .common-section-cointainer {
    @apply w-full md:w-11/12 lg:w-8/12 xl:w-7/12 2xl:w-6/12 px-4 mx-auto mt-6
  }
  .common-section-overlay{
   @apply bg-opacity-50 h-screen
  }
  .common-container {
    @apply mx-auto container max-w-4xl md:w-4/5 shadow-md
  }
  .common-form-header{
    @apply rounded-t mb-0 px-6 py-6
  }
  .common-form-section{
    @apply md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-500 items-center
  }
  .common-form-content{
    @apply md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-500 items-center
  }

}
/* This file is for your main application CSS */

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}


.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}
